body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #BA94D1 ;
    
    padding: 50px;
   
   
    
}
.mid-container{
    width: 200px;
    height: 200px;
    background-color: red;
    
   
}
.bottom-container{
    width: 200px;
    height: 200px;
    
    
}
.top-cloud{
    position: relative;
    left:200px
}
.bottom-cloud{
    position: absolute;
}