body{
    margin: 0;
}
h1{
    margin-top: 0;
}
.top-container{
    background-color: #BA94D1 ;
    
   
    
}
.mid-container{
    width: 200px;
    height: 200px;
    background-color: red;
   
}
.bottom-container{
    width: 200px;
    height: 200px;
    background-color: blue;
    
}